<h1 class="alert alert-danger">Transactions !</h1>

<div class="row alert alert-warning">
    <div class="col-lg-3 col-md-3">
        <h4 class="text-primary">{{customer.customerName}} </h4>
    </div>
    <div class="col-lg-6 col-md-6 text-center">
        <h4 class="text-primary">Account : {{customer.account.accountNumber}}</h4>
    </div>
    <div class="col-lg-3 col-md-3">
        <h4 class="text-primary">{{customer.account.accountType.accountTypeName}}</h4>
    </div>
</div>
<hr>

<h5 class="text-danger">Current Balance : {{customer.account.balance}}</h5>
<table class="table tableborder">
    <thead>
        <tr>
            <th>S. No.</th>
            <th>Date</th>
            <th>Description</th>
            <th>Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tran of transactions;let i = index">
            <td>{{i+1}}</td>
            <td>{{tran.transactionDate | date: 'dd/MM/yyyy'}}</td>
            <td>
                <b *ngIf="customer.customerId==tran.sender.customerId">
                    To : {{tran.receiver.customerName}}
                </b>
                <b *ngIf="customer.customerId==tran.receiver.customerId">
                    From : {{tran.sender.customerName}}
                </b>
                <br>
                {{tran.description}}
            </td>
            <td>
                <b *ngIf="customer.customerId==tran.sender.customerId">
                    Dr.
                </b>
                <b *ngIf="customer.customerId==tran.receiver.customerId">
                    Cr.
                </b>
            </td>
            <td>
                <b *ngIf="customer.customerId==tran.sender.customerId">
                    <b class="text-danger"> {{tran.amount}} </b>
                </b>
                <b *ngIf="customer.customerId==tran.receiver.customerId">
                    <b class="text-info"> {{tran.amount}} </b>
                </b>
            </td>
        </tr>
    </tbody>
</table>