<h1>Employee Data</h1>

<form #frm="ngForm" (submit)="save(frm.value)">
    <input type="text" placeholder="Name" name="name" ngModel/> &nbsp;
    <input type="text" placeholder="Email" name="email" ngModel/> &nbsp;
    <input type="text" placeholder="Salary" name="salary" ngModel/> <br><br>
    <button class="btn btn-info">Save Data</button>
</form>
<br>

<button class="btn btn-success" (click)="load()">Load Data</button>
<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th>S. No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees;let i = index">
            <td>{{i+1}}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.empEmail}}</td>
            <td>{{emp.empSalary}}</td>
        </tr>
    </tbody>
</table>