<div id="wrapper" class="text-center">
            <div class="container">
                <br>
                <h1 class="alert alert-danger">Login User !</h1>
                <div class="text-center"><img src="/assets/img/login.jpg"></div>
                <form #frm="ngForm" (submit)="login(frm.value)">
                <div class="row">
                   
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-4 col-md-4">
                           <input type="text" name="username" ngModel placeholder="Login ID" 
                           class="form-control">     
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <input type="password" name="password" ngModel placeholder="Login Password" 
                            class="form-control">     
                         </div>
                        <div class="col-lg-2 col-md-2"></div>                   
                </div>
                <div class="row mt-5">                   
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-4 col-md-4">
                        <button class="btn btn-success">Login User</button>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <b class="text-danger">{{errormsg}}</b>
                    </div>
                </div>
            </form>
                
            </div> 
        </div>