<h1 class="alert alert-danger">Customer !</h1>
<form #frm="ngForm" (submit)="save(frm.value)">
    <div class="row">
            <div class="col-lg-4 col-md-4">
               <input type="text" name="userName" ngModel placeholder="User Name" 
               class="form-control">     
            </div>
            <div class="col-lg-4 col-md-4">
                <input type="text" name="email" ngModel placeholder="Email" 
                class="form-control">     
             </div>
            <div class="col-lg-4 col-md-4">
                <input type="password" name="password" ngModel placeholder="Password" 
                class="form-control">     
             </div>                                       
    </div>  
    <div class="row mt-3">
        <div class="col-lg-4 col-md-4">
            <input type="text" name="customerName" ngModel placeholder="Customer Name" 
            class="form-control">     
         </div>
         <div class="col-lg-4 col-md-4">
             <input type="text" name="customerPhone" ngModel placeholder="Contact" 
             class="form-control">     
          </div>                                             
    </div> 
    <div class="row mt-5">
        <div class="col-lg-4 col-md-4">
            <button class="btn btn-success">Save Customer</button>
            &nbsp;
            <b class="text-danger">{{errormsg}}</b>
        </div>   
    </div> 
</form>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>S. No.</th>
            <th>Customer Name</th>         
            <th>Contact</th>           
            <th>Email</th>
            <th>Bank</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let customer of customers;let i = index">
                <th>{{i+1}}</th>
                <th>{{customer.customerName}}</th>
                <th>{{customer.customerPhone}}</th>
                <th>{{customer.user.email}}</th>
                <th>{{customer.bank.bankName}}</th>  
                <th>
                    <a routerLink="/addaccount/{{customer.customerId}}"><b *ngIf="customer.account==null" class="btn btn-success">
                        Add Account</b></a>
                    <div *ngIf="customer.account!=null">
                        <h6 class="text-danger bg-success">UPI : {{customer.customerUpi}}</h6>
                        <hr>
                        <b class="text-danger">Act Number : {{customer.account.accountNumber}}</b><br>
                        <b class="text-danger">Per Day Limit : {{customer.account.preDayLimit}}</b><br>
                        <b class="text-danger">Per Trans Limit : {{customer.account.perTransactionLimit}}</b>
                    </div>
                </th>            
            </tr>
    </tbody>
</table>